In [1]:
from pyspark.sql import SparkSession

spark = SparkSession. \
    builder. \
    config("spark.ui.port", "0"). \
    enableHiveSupport(). \
    appName("Spark dataSkew Window Rank"). \
    master("yarn"). \
    config('spark.executor.instances','5'). \
    config('spark.executor.memory','512MB'). \
    config('spark.executor.cores','4'). \
    config('spark.dynamicAllocation.enabled','False'). \
    getOrCreate()

In [49]:
spark.stop()

In [12]:
spark.sparkContext.applicationId

'application_1745651200635_18473'

In [2]:
 #Disable AQE and AdvisoryPartitionSize

spark.conf.set("spark.sql.adaptive.enabled", False)
spark.conf.set("spark.sql.adaptive.coalescePartitions.enabled", False)

In [3]:
# Read Employee Skew data
schema = "first_name string, last_name string, job_title string, dob string, email string, phone string, salary double, department_id int"

emp = spark.read.format("csv").schema(schema).option("header", True).load("Datasets/employee_records_skew.csv")

In [5]:
emp.show()

+-----------+----------+--------------------+----------+--------------------+--------------------+--------+-------------+
| first_name| last_name|           job_title|       dob|               email|               phone|  salary|department_id|
+-----------+----------+--------------------+----------+--------------------+--------------------+--------+-------------+
|      Jacob|     Stark|         Fine artist|1976-04-25|jasonortiz@exampl...|  224-695-9516x02171|358889.0|            1|
|    Marissa|     Crane|Intelligence analyst|2000-06-24|johnsontroy@examp...|        277-928-0029|786608.0|            3|
|     Andrea|     Davis|     Physiotherapist|1999-06-17| ihowell@example.org|          9503082950|428991.0|            3|
|       John|     Tapia|Lecturer, further...|2001-09-23|russobarbara@exam...|    001-679-487-9525|241574.0|            9|
|      Colin|    Holmes|     Psychotherapist|1965-06-29|fsimmons@example.org|          3232202899|320260.0|            4|
|       Eric|      Beck|Speech and langua...|1970-10-28|johnny90@example.net|+1-744-277-5637x0...|125977.0|            4|
|      Jason|    Robles|Sound technician,...|1967-03-21|jessicathomas@exa...|    001-872-480-5161|447336.0|            2|
|   Courtney|    Daniel|     Careers adviser|1994-11-14| gmurray@example.org|  (415)357-1570x5493|514742.0|            2|
|  Stephanie|   Morales|         Pathologist|1982-09-24|michael68@example...|001-311-431-6117x...| 14207.0|            6|
|   Virginia| Cervantes|Chief Operating O...|1994-12-10|nicholasdavis@exa...|     +1-807-442-2027|756630.0|           10|
|     Elijah|    Glover|Therapist, speech...|1969-10-20|brookefrederick@e...|        434.735.9681|611461.0|            8|
|   Jennifer|   Collins|       Site engineer|1975-09-11|joseph06@example.org|     +1-416-797-0488| 19458.0|            4|
|  Christina|      Ball|Teacher, special ...|1962-12-20| fwatson@example.org|    280.582.7025x086|709984.0|            9|
|       Drew|  Erickson|Psychologist, edu...|1996-11-05| jason18@example.com|001-271-662-7827x...|304998.0|            3|
|      James|    Wright|Air traffic contr...|1975-10-21|   arice@example.com|       (721)398-6804|403612.0|            4|
|    Valerie|     Smith|      Phytotherapist|1985-04-14|frederickjames@ex...|   498.939.5081x5501|181849.0|            6|
|Christopher|     Smith|Accountant, chart...|1970-04-01|robert20@example.net|        559-309-6778| 96578.0|            1|
|    Patrick|     Bowen| Exhibition designer|1968-01-02|   tbell@example.net|   863-759-4636x5870|276783.0|            6|
|      Erika|Cunningham|           Mudlogger|1974-07-02|lauren19@example.com|    688-359-8811x177|647089.0|            6|
|    Melissa|    Murray| Librarian, academic|1985-06-14|christinaruiz@exa...|        841.594.5213| 48231.0|            5|
+-----------+----------+--------------------+----------+--------------------+--------------------+--------+-------------+
only showing top 20 rows

In [4]:
#adding the skew for department_id=2
emp1 = emp.drop("job_title","email","phone")

emp_df = emp1 #.union(emp1.where("department_id == 2")).union(emp1.where("department_id == 2")).union(emp1.where("department_id == 2")) \
             #.union(emp1.where("department_id == 2")).union(emp1.where("department_id == 2")).union(emp1.where("department_id == 2"))
            # .union(emp.where("department_id == 2")).union(emp.where("department_id == 2")).union(emp.where("department_id == 2"))

In [9]:
from pyspark.sql.window import Window
from pyspark.sql.functions import col, row_number, avg, sum, min, max, rank, desc

# Window function: rank events by date per user
window_spec = Window.partitionBy("department_id").orderBy(desc("salary"))

df_with_rank = emp_df.withColumn("rank", rank().over(window_spec))

In [11]:
#write to noop - takes 8 Sec

df_with_rank.write.format("noop").mode("overwrite").save()

In [15]:
#Please check the Spark Ui -> SQL -> Job -> Stage -> Task details
#Observe the dataSkew Issues
#Observe the DataSpill Issues

In [10]:
# Check the partition count
from pyspark.sql.functions import spark_partition_id, count, lit, desc

part_df = emp_df.withColumn("partition_num", spark_partition_id()).groupBy("partition_num").agg(count(lit(1)).alias("count"))

part_df.orderBy(desc("partition_num")).show()

+-------------+------+
|partition_num| count|
+-------------+------+
|           10|  8713|
|            9| 60703|
|            8| 65250|
|            7| 65699|
|            6|217684|
|            5|130421|
|            4|130312|
|            3|130393|
|            2|130400|
|            1|130384|
|            0|130406|
+-------------+------+

In [14]:
# Verify Employee data based on department_id
from pyspark.sql.functions import count, lit, desc, col

emp_df.groupBy("department_id").agg(count(lit(1))).show()

+-------------+--------+
|department_id|count(1)|
+-------------+--------+
|            1|   99451|
|            6|   99706|
|            3|  100248|
|            5|  200420|
|            9|  100014|
|            4|  100214|
|            8|  100417|
|            7|   99805|
|           10|   99780|
|            2|  200310|
+-------------+--------+

In [ ]:
rank()

In [22]:
# Step 1: Count how many employees are at each salary level in each department

from pyspark.sql.functions import count, lit, desc, col,desc, sum, count, coalesce

salary_counts = emp_df.groupBy("department_id", "salary") \
                  .agg(count("*").alias("employee_count"))

In [23]:
# Step 2: Compute rank by summing employee counts of higher salaries (descending order)
window_desc = Window.partitionBy("department_id") \
                    .orderBy(col("salary").desc()) \
                    .rowsBetween(Window.unboundedPreceding, -1)  # exclude current row

salary_ranks = salary_counts.withColumn(
    "rank", coalesce(sum(coalesce("employee_count")).over(window_desc),lit(0)) + 1
)

salary_ranks.show()

+-------------+--------+--------------+----+
|department_id|  salary|employee_count|rank|
+-------------+--------+--------------+----+
|            1|999996.0|             1|   1|
|            1|999979.0|             1|   2|
|            1|999959.0|             1|   3|
|            1|999922.0|             1|   4|
|            1|999917.0|             1|   5|
|            1|999914.0|             1|   6|
|            1|999911.0|             1|   7|
|            1|999901.0|             2|   8|
|            1|999896.0|             1|  10|
|            1|999894.0|             1|  11|
|            1|999885.0|             1|  12|
|            1|999879.0|             1|  13|
|            1|999863.0|             1|  14|
|            1|999849.0|             1|  15|
|            1|999846.0|             1|  16|
|            1|999844.0|             1|  17|
|            1|999843.0|             2|  18|
|            1|999829.0|             1|  20|
|            1|999815.0|             1|  21|
|            1|999809.0|             1|  22|
+-------------+--------+--------------+----+
only showing top 20 rows

In [24]:
# Step 3: Join back to original data to assign the rank

final_df = emp_df.join(salary_ranks, on=["department_id", "salary"], how="left") \
             .select("*") \
             .orderBy("department_id", "rank")

In [29]:
#write to noop - takes 8 Sec

final_df.write.format("noop").mode("overwrite").save()

In [32]:
#some sample data with row_number

final_df.where("department_id == 2").where("rank < 10").show()

+-------------+--------+----------+---------+----------+--------------+----+
|department_id|  salary|first_name|last_name|       dob|employee_count|rank|
+-------------+--------+----------+---------+----------+--------------+----+
|            2|999997.0|   Richard|   Foster|1990-03-26|             2|   1|
|            2|999997.0|   Richard|   Foster|1990-03-26|             2|   1|
|            2|999987.0|   Cynthia|    Lewis|1994-05-15|             2|   3|
|            2|999987.0|   Cynthia|    Lewis|1994-05-15|             2|   3|
|            2|999964.0|    Melody| Reynolds|1987-09-11|             2|   5|
|            2|999964.0|    Melody| Reynolds|1987-09-11|             2|   5|
|            2|999903.0|    Thomas|   Medina|1997-08-10|             2|   7|
|            2|999903.0|    Thomas|   Medina|1997-08-10|             2|   7|
|            2|999885.0|    Andrea|   Gordon|1998-06-07|             2|   9|
|            2|999885.0|    Andrea|   Gordon|1998-06-07|             2|   9|
+-------------+--------+----------+---------+----------+--------------+----+

In [21]:
#some sample data with row_number

df_with_rank.where("department_id == 2").where("rank < 10").show()

+----------+---------+----------+--------+-------------+----+
|first_name|last_name|       dob|  salary|department_id|rank|
+----------+---------+----------+--------+-------------+----+
|   Richard|   Foster|1990-03-26|999997.0|            2|   1|
|   Richard|   Foster|1990-03-26|999997.0|            2|   1|
|   Cynthia|    Lewis|1994-05-15|999987.0|            2|   3|
|   Cynthia|    Lewis|1994-05-15|999987.0|            2|   3|
|    Melody| Reynolds|1987-09-11|999964.0|            2|   5|
|    Melody| Reynolds|1987-09-11|999964.0|            2|   5|
|    Thomas|   Medina|1997-08-10|999903.0|            2|   7|
|    Thomas|   Medina|1997-08-10|999903.0|            2|   7|
|    Andrea|   Gordon|1998-06-07|999885.0|            2|   9|
|    Andrea|   Gordon|1998-06-07|999885.0|            2|   9|
+----------+---------+----------+--------+-------------+----+

âœ… Summary:
With this approch we were able to solve this problem with 60% less resources and improved Job execution time by 80%
If you try with larger datasets, you will definatly see performance improvements