In [48]:
from pyspark.sql import SparkSession

spark = SparkSession. \
    builder. \
    config("spark.ui.port", "0"). \
    enableHiveSupport(). \
    appName("Spark DataSkew -Salting"). \
    master("yarn"). \
    config('spark.executor.instances','2'). \
    config('spark.executor.memory','512MB'). \
    config('spark.executor.cores','4'). \
    config('spark.dynamicAllocation.enabled','False'). \
    getOrCreate()

In [106]:
spark.stop()

In [49]:
spark.sparkContext.applicationId

'application_1745651200635_11844'

In [50]:
 #Disable AQE and Broadcast join

spark.conf.set("spark.sql.adaptive.enabled", False)
spark.conf.set("spark.sql.adaptive.coalescePartitions.enabled", False)
spark.conf.set("spark.sql.autoBroadcastJoinThreshold", -1)

In [51]:
# Read Employee Skew data
schema = "first_name string, last_name string, job_title string, dob string, email string, phone string, salary double, department_id int"

emp = spark.read.format("csv").schema(schema).option("header", True).load("Datasets/employee_records_skew.csv")

In [28]:
emp.show()

+-----------+----------+--------------------+----------+--------------------+--------------------+--------+-------------+
| first_name| last_name|           job_title|       dob|               email|               phone|  salary|department_id|
+-----------+----------+--------------------+----------+--------------------+--------------------+--------+-------------+
|      Jacob|     Stark|         Fine artist|1976-04-25|jasonortiz@exampl...|  224-695-9516x02171|358889.0|            1|
|    Marissa|     Crane|Intelligence analyst|2000-06-24|johnsontroy@examp...|        277-928-0029|786608.0|            3|
|     Andrea|     Davis|     Physiotherapist|1999-06-17| ihowell@example.org|          9503082950|428991.0|            3|
|       John|     Tapia|Lecturer, further...|2001-09-23|russobarbara@exam...|    001-679-487-9525|241574.0|            9|
|      Colin|    Holmes|     Psychotherapist|1965-06-29|fsimmons@example.org|          3232202899|320260.0|            4|
|       Eric|      Beck|Speech and langua...|1970-10-28|johnny90@example.net|+1-744-277-5637x0...|125977.0|            4|
|      Jason|    Robles|Sound technician,...|1967-03-21|jessicathomas@exa...|    001-872-480-5161|447336.0|            2|
|   Courtney|    Daniel|     Careers adviser|1994-11-14| gmurray@example.org|  (415)357-1570x5493|514742.0|            2|
|  Stephanie|   Morales|         Pathologist|1982-09-24|michael68@example...|001-311-431-6117x...| 14207.0|            6|
|   Virginia| Cervantes|Chief Operating O...|1994-12-10|nicholasdavis@exa...|     +1-807-442-2027|756630.0|           10|
|     Elijah|    Glover|Therapist, speech...|1969-10-20|brookefrederick@e...|        434.735.9681|611461.0|            8|
|   Jennifer|   Collins|       Site engineer|1975-09-11|joseph06@example.org|     +1-416-797-0488| 19458.0|            4|
|  Christina|      Ball|Teacher, special ...|1962-12-20| fwatson@example.org|    280.582.7025x086|709984.0|            9|
|       Drew|  Erickson|Psychologist, edu...|1996-11-05| jason18@example.com|001-271-662-7827x...|304998.0|            3|
|      James|    Wright|Air traffic contr...|1975-10-21|   arice@example.com|       (721)398-6804|403612.0|            4|
|    Valerie|     Smith|      Phytotherapist|1985-04-14|frederickjames@ex...|   498.939.5081x5501|181849.0|            6|
|Christopher|     Smith|Accountant, chart...|1970-04-01|robert20@example.net|        559-309-6778| 96578.0|            1|
|    Patrick|     Bowen| Exhibition designer|1968-01-02|   tbell@example.net|   863-759-4636x5870|276783.0|            6|
|      Erika|Cunningham|           Mudlogger|1974-07-02|lauren19@example.com|    688-359-8811x177|647089.0|            6|
|    Melissa|    Murray| Librarian, academic|1985-06-14|christinaruiz@exa...|        841.594.5213| 48231.0|            5|
+-----------+----------+--------------------+----------+--------------------+--------------------+--------+-------------+
only showing top 20 rows

In [52]:
# dept data
dept_schema = "department_id int, department_name string, description string, city string, state string, country string"

dept = spark.read.format("csv").schema(dept_schema).option("header", True).load("Datasets/department_data.csv")

In [53]:
#increaseing dataset size
emp_df = emp

In [31]:
emp_df.count()

1200365

In [54]:
# Join Datasets

df_joined = emp_df.join(dept, on=emp_df.department_id==dept.department_id, how="left_outer")

In [55]:
df_joined.write.format("noop").mode("overwrite").save()

In [56]:
df_joined.explain()

== Physical Plan ==
SortMergeJoin [department_id#839], [department_id#848], LeftOuter
:- *(1) Sort [department_id#839 ASC NULLS FIRST], false, 0
:  +- Exchange hashpartitioning(department_id#839, 200), ENSURE_REQUIREMENTS, [id=#836]
:     +- FileScan csv [first_name#832,last_name#833,job_title#834,dob#835,email#836,phone#837,salary#838,department_id#839] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex[hdfs://m01.itversity.com:9000/user/itv018960/Datasets/employee_records_skew.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<first_name:string,last_name:string,job_title:string,dob:string,email:string,phone:string,s...
+- *(3) Sort [department_id#848 ASC NULLS FIRST], false, 0
   +- Exchange hashpartitioning(department_id#848, 200), ENSURE_REQUIREMENTS, [id=#847]
      +- *(2) Filter isnotnull(department_id#848)
         +- FileScan csv [department_id#848,department_name#849,description#850,city#851,state#852,country#853] Batched: false, DataFilters: [isnotnull(department_id#848)], Format: CSV, Location: InMemoryFileIndex[hdfs://m01.itversity.com:9000/user/itv018960/Datasets/department_data.csv], PartitionFilters: [], PushedFilters: [IsNotNull(department_id)], ReadSchema: struct<department_id:int,department_name:string,description:string,city:string,state:string,count...

In [58]:
# Check the partition count
from pyspark.sql.functions import spark_partition_id, count, lit, desc

part_df = df_joined.withColumn("partition_num", spark_partition_id()).groupBy("partition_num").agg(count(lit(1)).alias("count"))

part_df.show()

+-------------+------+
|partition_num| count|
+-------------+------+
|          103|100417|
|          122| 99780|
|           43| 99451|
|          107| 99805|
|           49| 99706|
|           51|100248|
|          102|100214|
|           66|200420|
|          174|200310|
|           89|100014|
+-------------+------+

In [59]:
# Verify Employee data based on department_id
from pyspark.sql.functions import count, lit, desc, col

emp_df.groupBy("department_id").agg(count(lit(1))).show()

+-------------+--------+
|department_id|count(1)|
+-------------+--------+
|            1|   99451|
|            6|   99706|
|            3|  100248|
|            5|  200420|
|            9|  100014|
|            4|  100214|
|            8|  100417|
|            7|   99805|
|           10|   99780|
|            2|  200310|
+-------------+--------+

In [93]:
spark.conf.set("spark.sql.shuffle.partitions", 48)
spark.conf.get("spark.sql.shuffle.partitions")

'48'

In [94]:
#salting
import random
from pyspark.sql.functions import udf

# UDF to return a random number every time and add to Employee as salt
@udf
def salt_udf():
    return random.randint(0, 48)

# Salt Data Frame to add to department
salt_df = spark.range(0, 48)
salt_df.show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
| 10|
| 11|
| 12|
| 13|
| 14|
| 15|
| 16|
| 17|
| 18|
| 19|
+---+
only showing top 20 rows

In [95]:
# Apply Salted to EMP tables
from pyspark.sql.functions import lit, concat

salted_emp = emp.withColumn("salted_dept_id", concat("department_id", lit("_"), salt_udf()))

salted_emp.show()

+-----------+----------+--------------------+----------+--------------------+--------------------+--------+-------------+--------------+
| first_name| last_name|           job_title|       dob|               email|               phone|  salary|department_id|salted_dept_id|
+-----------+----------+--------------------+----------+--------------------+--------------------+--------+-------------+--------------+
|      Jacob|     Stark|         Fine artist|1976-04-25|jasonortiz@exampl...|  224-695-9516x02171|358889.0|            1|          1_30|
|    Marissa|     Crane|Intelligence analyst|2000-06-24|johnsontroy@examp...|        277-928-0029|786608.0|            3|          3_46|
|     Andrea|     Davis|     Physiotherapist|1999-06-17| ihowell@example.org|          9503082950|428991.0|            3|          3_31|
|       John|     Tapia|Lecturer, further...|2001-09-23|russobarbara@exam...|    001-679-487-9525|241574.0|            9|          9_15|
|      Colin|    Holmes|     Psychotherapist|1965-06-29|fsimmons@example.org|          3232202899|320260.0|            4|          4_26|
|       Eric|      Beck|Speech and langua...|1970-10-28|johnny90@example.net|+1-744-277-5637x0...|125977.0|            4|          4_15|
|      Jason|    Robles|Sound technician,...|1967-03-21|jessicathomas@exa...|    001-872-480-5161|447336.0|            2|          2_28|
|   Courtney|    Daniel|     Careers adviser|1994-11-14| gmurray@example.org|  (415)357-1570x5493|514742.0|            2|          2_18|
|  Stephanie|   Morales|         Pathologist|1982-09-24|michael68@example...|001-311-431-6117x...| 14207.0|            6|          6_37|
|   Virginia| Cervantes|Chief Operating O...|1994-12-10|nicholasdavis@exa...|     +1-807-442-2027|756630.0|           10|         10_44|
|     Elijah|    Glover|Therapist, speech...|1969-10-20|brookefrederick@e...|        434.735.9681|611461.0|            8|           8_9|
|   Jennifer|   Collins|       Site engineer|1975-09-11|joseph06@example.org|     +1-416-797-0488| 19458.0|            4|          4_25|
|  Christina|      Ball|Teacher, special ...|1962-12-20| fwatson@example.org|    280.582.7025x086|709984.0|            9|          9_24|
|       Drew|  Erickson|Psychologist, edu...|1996-11-05| jason18@example.com|001-271-662-7827x...|304998.0|            3|          3_37|
|      James|    Wright|Air traffic contr...|1975-10-21|   arice@example.com|       (721)398-6804|403612.0|            4|          4_44|
|    Valerie|     Smith|      Phytotherapist|1985-04-14|frederickjames@ex...|   498.939.5081x5501|181849.0|            6|           6_7|
|Christopher|     Smith|Accountant, chart...|1970-04-01|robert20@example.net|        559-309-6778| 96578.0|            1|          1_37|
|    Patrick|     Bowen| Exhibition designer|1968-01-02|   tbell@example.net|   863-759-4636x5870|276783.0|            6|          6_33|
|      Erika|Cunningham|           Mudlogger|1974-07-02|lauren19@example.com|    688-359-8811x177|647089.0|            6|          6_41|
|    Melissa|    Murray| Librarian, academic|1985-06-14|christinaruiz@exa...|        841.594.5213| 48231.0|            5|           5_0|
+-----------+----------+--------------------+----------+--------------------+--------------------+--------+-------------+--------------+
only showing top 20 rows

In [97]:
emp.count()

1200365

In [98]:
salted_emp.count()

1200365

In [99]:
# Salted Department

salted_dept = dept.join(salt_df, how="cross").withColumn("salted_dept_id", concat("department_id", lit("_"), "id"))

salted_dept.where("department_id = 5").show()

+-------------+---------------+--------------------+---------+-----+-------+---+--------------+
|department_id|department_name|         description|     city|state|country| id|salted_dept_id|
+-------------+---------------+--------------------+---------+-----+-------+---+--------------+
|            5|     Hardin Inc|Re-contextualized...|Hayestown|   WA|   Fiji|  0|           5_0|
|            5|     Hardin Inc|Re-contextualized...|Hayestown|   WA|   Fiji|  1|           5_1|
|            5|     Hardin Inc|Re-contextualized...|Hayestown|   WA|   Fiji|  2|           5_2|
|            5|     Hardin Inc|Re-contextualized...|Hayestown|   WA|   Fiji|  3|           5_3|
|            5|     Hardin Inc|Re-contextualized...|Hayestown|   WA|   Fiji|  4|           5_4|
|            5|     Hardin Inc|Re-contextualized...|Hayestown|   WA|   Fiji|  5|           5_5|
|            5|     Hardin Inc|Re-contextualized...|Hayestown|   WA|   Fiji|  6|           5_6|
|            5|     Hardin Inc|Re-contextualized...|Hayestown|   WA|   Fiji|  7|           5_7|
|            5|     Hardin Inc|Re-contextualized...|Hayestown|   WA|   Fiji|  8|           5_8|
|            5|     Hardin Inc|Re-contextualized...|Hayestown|   WA|   Fiji|  9|           5_9|
|            5|     Hardin Inc|Re-contextualized...|Hayestown|   WA|   Fiji| 10|          5_10|
|            5|     Hardin Inc|Re-contextualized...|Hayestown|   WA|   Fiji| 11|          5_11|
|            5|     Hardin Inc|Re-contextualized...|Hayestown|   WA|   Fiji| 12|          5_12|
|            5|     Hardin Inc|Re-contextualized...|Hayestown|   WA|   Fiji| 13|          5_13|
|            5|     Hardin Inc|Re-contextualized...|Hayestown|   WA|   Fiji| 14|          5_14|
|            5|     Hardin Inc|Re-contextualized...|Hayestown|   WA|   Fiji| 15|          5_15|
|            5|     Hardin Inc|Re-contextualized...|Hayestown|   WA|   Fiji| 16|          5_16|
|            5|     Hardin Inc|Re-contextualized...|Hayestown|   WA|   Fiji| 17|          5_17|
|            5|     Hardin Inc|Re-contextualized...|Hayestown|   WA|   Fiji| 18|          5_18|
|            5|     Hardin Inc|Re-contextualized...|Hayestown|   WA|   Fiji| 19|          5_19|
+-------------+---------------+--------------------+---------+-----+-------+---+--------------+
only showing top 20 rows

In [100]:
dept.count()

10

In [101]:
salted_dept.count()

480

In [102]:
# Lets make the salted join now

salted_joined_df = salted_emp.join(salted_dept, on=salted_emp.salted_dept_id==salted_dept.salted_dept_id, how="left_outer")

In [103]:
#write Action

salted_joined_df.write.format("noop").mode("overwrite").save()

In [105]:
# Check the each partition counts
from pyspark.sql.functions import spark_partition_id, count

part_df = salted_joined_df.withColumn("partition_num", spark_partition_id()).groupBy("partition_num").agg(count(lit(1)).alias("count"))

part_df.show()

+-------------+-----+
|partition_num|count|
+-------------+-----+
|           18|36727|
|           38|32467|
|           31|24775|
|            3|24379|
|           27|20414|
|           37|24421|
|            2|14304|
|           22|20493|
|            9|36516|
|           17|22497|
|           11|38636|
|           25|28739|
|           19|20210|
|           30|34866|
|           40|22485|
|           42|16314|
|           28|14317|
|           36|29006|
|            0|26354|
|            8|28690|
+-------------+-----+
only showing top 20 rows

Conclusion:
1. understand data skew
2. understand data spill to memory and Disk
3. how to prepare the salted key
4. how to reduce spills using salting approch